---

- name: scarica il container jenkins
  containers.podman.podman_container:
    name: "{{container_name}}"
    image: â€{{container_image}}"
    state: started 
    ports:
      - "{{port_to_expose}}:{{port_to_expose}}"
    volumes:
      - jenkins-volume:/var/jenkins_home/volumes
      